$basicFont: 1.5em 'Press Start 2P', 'VT323', arial, sans-serif;

$headerBgColor: #444;
$headerTextColor: #fff;
$headerSize: 2.8em;
$headerHeight: 157px;

$linkColor: #fff;

$winnerMessageFontSize: 2em;

$cardHeight: 120px;
$cardWidth: 80px;
$cardBorder: solid 1px #000;
$iconSize: 2.2em;
$marginBetweenCards: 5px;
$cardTransition:  opacity 0.5s;

$centerMargin: 0 auto;
$sectionsPadding: 10px 20px;

$footerHeight: 104px;

/*** General Set Up ***/
html, body {
	height: 100%
}

body {
	font: $basicFont;
	margin: $centerMargin;
}

header, main, footer {
	padding: $sectionsPadding;
}

header, footer {
	background-color: $headerBgColor;
	color: $headerTextColor;
}

/*** Header ***/
header {
	text-align: center;
	height: $headerHeight;
}

h1 {
	font-size: $headerSize;
}

/*** Main ***/
main {
	min-height: 72%;
	margin: 0 auto (-$footerHeight);
}

.game-container {
	margin: 20px auto;
}

.cards-left, .number-selector-container {
	display: inline-block;
}

.cards-left {
	font-weight: bold;
	width: 50%;
}

select {
	font-size: 0.8em;
	padding: 4px;
	border-radius: 5px;
}

/*** Footer ***/
footer {
	text-align: right;
	height: $footerHeight;
}

a {
	color: $linkColor;
}

.winner-message {
	font-size: $winnerMessageFontSize;
	text-align: center;
	padding: $sectionsPadding;
}

/*** Cards ***/
.fa {
	font-size: $iconSize;
}

.card-container {
	position: relative;
	display: inline-block;
	margin: $marginBetweenCards;
}

.front {
	width: $cardWidth;
	height: $cardHeight;
	background-color: #aaa;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transition: $cardTransition;
	transition: $cardTransition;
}

.back {
	width: $cardWidth - 2px;
	height: $cardHeight - 2px;
	text-align: center;
	line-height: $cardHeight - 2px;
	border: $cardBorder;
}

.selected {
	opacity: 0;
}

.hidden {
	display: none;
}